
 @import url('http://fonts.cdnfonts.com/css/tetris?styles=44030');
   
 body {
   background-image: url('galaxy-bg.jpg');
   
 }
 
.heading {
    width: 100%; 
    margin: 0; 
    text-align: center;
}
        

h1 {
    text-align: center;
    font-size: 50px; 
    font-family: 'Tetris', sans-serif;
    color: yellow; 
    margin: 17px; 
}

.heading p {
    color: white;
    font-family: 'Tetris', sans-serif;
}

.backbutton {
    margin: 0;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}


