
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    background-color: #343131;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.main-title {
    color: #cc0f0f;
    text-align: center;
    font-size: 55px;
    font-family:"Press Start 2P", cursive;
    padding: 120px 5px;
    margin: 0px 0px;
}

.main-title h1{
    text-shadow: 0 12px 12px #191818;
}
.link {
    text-align: center;
    font-size: 50px;
    font-family: "Press Start 2p", cursive;
}

.button{
    background-color: #cc0f0f;
    color: #191818;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 10px 10px;
    transition-duration: 0.2s;
}

.button:hover {
    box-shadow: 0 12px 12px 0 #191818,0 0px 20px 0 #191818;
}
